* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

body {
  background-color: #171717;
  font-family: 'PT Sans', sans-serif;
}

.container{
  max-width: 1460px;
  margin: 0 auto;
}

.header-bcg{
  height: 100vh;
  width: 100%;
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #fff;
  margin-right: 40px;
}

.tel span {
  color: #D6AF76;
}

.callback-btn {
  border: 1px solid #D6AF76;
  color: #D6AF76;
  padding: 10px 25px 10px 50px;
  font-size: 18px;
  line-height: 30px;
  position: relative;
}

.callback-btn::before {
  content: url(../icon/call.svg);
  margin-left: 25px;
  position: absolute;
  display: block;
  height: 13px;
  width: 13px;
  left: 0;
  top: 10px;
}

h2{
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #fff;
}

.title1,
.title2{
  margin-top: 70px;
}

.info{
  margin: 40px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.works a {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.works{
  display: grid;
  height: 120vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 30px;
  margin-bottom: 80px;
}

.works-item1{
  grid-area: 1 / 1 / 4 / 3;
  background-color: #634F2C;
}

.works-item2{
  grid-area: 1 / 3 / 4 / 5;
  background-color: #B4A385;
}

.works-item3{
  grid-area: 1 / 5 / 4 / 7;
  background-color: #E4B564;
}

.works-item4{
  grid-area: 4 / 1 / 7 / 4;
  background-color: #635A4A;
}

.works-item5 {
  grid-area: 4 / 4 / 7 / 7;
  background-color: #B08C4D;
}

.works li,
.clients li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid{
  height: 100vh;
  width: 100%;
  background-image: url("../img/parallax-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.technics{
  margin: 70px 0;
  height: 120vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-gap: 25px;
}

.technics a{
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}

.tech-item1{
  grid-area: 1 / 1 / 6 / 2;
  background-color: #0E0E0E;
}

.tech-item2{
  grid-area: 1 / 2 / 8 / 3;
  background-color: #242424;
}

.tech-item3{
  grid-area: 1 / 3 / 5 / 4;
  background-color: #1F1F1F;
}

.tech-item4{
  grid-area: 5 / 3 / 10 / 4;
  background-color: #0E0E0E;
}

.tech-item5{
  grid-area: 8 / 2 / 14 / 3;
  background-color: #E4B564;
}

.tech-item6{
  grid-area: 6 / 1 / 14 / 2;
  background-color: #1F1F1F;
}

.tech-item7{
  grid-area: 10 / 3 / 14 / 4;
  background-color: #0A0909;
}

.tech-item5 a{
  color: #000000;
}

.technics li{
  padding: 45px 0 0 45px;
}

.text-bold{
  font-weight: 700;
}

.clients_information {
  margin-bottom: 100px;
  background-color: #0E0E0E;
}

.projects {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.projects-btn {
  border: 1px solid #D6AF76;
  color: #D6AF76;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 30px;
}

.clients a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400px;
}

.clients{
  margin-top: 70px;
  display: grid;
  height: 120vh;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-template-areas: "client_1 client_2 client_3"
                        "client_4 client_5 client_6"
}

.clients-item1{
  grid-area: client_1;
  background-color: #634F2C;
}

.clients-item2{
  grid-area: client_2;
  background-color: #E8D2AB;
}

.clients-item3{
  grid-area: client_3;
  background-color: #E4B564;
}

.clients-item4{
  grid-area: client_4;
  background-color: #635A4A;
}

.clients-item5{
  grid-area: client_5;
  background-color: #B08C4D;
}

.clients-item6{
  grid-area: client_6;
  background-color: #634F2C;
}

.link_clients{
  margin: 0 80px 80px;
  position: relative;
}

.link_clients::before{
  content: url(../icon/hand.svg);
  position: absolute;
  display: block;
  left: 45%;
  bottom: -35px;
}